.TopPart {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	/* align-content: flex-end; */
}


.IndividualIngredient img {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.IndividualIngredient {
  display: flex;
  margin: 20px;
}
.IndividualIngredient button {
  max-width: 50px;
  max-height: 30px;
  margin: 20px;
}
.BurgerBuild img{
  margin-top: -50px;
  max-width: 200px;
}
.burgerBuild h1 {
  margin: 100px;

}
.BurgerBuild {
  display: flex;
  flex-direction: column-reverse;
 align-content: center;
  
}
.SavedBurgers {
color: black;
display: flex;
flex-direction: row;
background-color: darkgray;
justify-content: space-around;
flex-wrap: wrap;
}

.BurgerCollection {
  color: black;
  border: solid;
  margin: 20px;
  padding: 10px;
}
.GetRecipie {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
  margin-bottom: 20px;
}